<div class="main-wrapper ">
  <h1>Show post</h1>
  <hr>
  <div class="container post-show">
    <div class="col-md-8 col-md-offset-2">
      <div class="title">
        <span>
          <%= @post.title %>
        </span>
        <hr>
      </div>
      <div class="content">
        <%= @post.description.html_safe %>
      </div>
      <div class="date">
        <span>Autor: <%=  @post.user.name %>, </span><%= time_ago_in_words(@post.created_at) %>
      </div>
      <% if user_owner(@post.user) %>
      <hr>
        <div class="actions">
          <%= link_to "editar", edit_post_path(@post)  %>
          <%= link_to "eliminar", post_path(@post), method: :delete, data: {confirm: "You want delete this post"}  %>
        </div>
      <hr>
      <% end %>
  <!-- comentarios -->

      <h3>Comments</h3>
      <div class="comments" id="container_comment">
        <% @post.coments.each do |comment| %>
          <div class="panel panel-default" id="comment_<%=comment.id%>">
            <div class="panel-heading">
              <div class="date">Commenter: <%= comment.user.name%>, <%= time_ago_in_words(comment.created_at) %>
              </div>
              <div class="actions-comment">
                <% if user_owner(comment.user) %>
                  <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe,  edit_post_coment_path(comment.post, comment) , remote: true%>
                  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [comment.post, comment],remote: true ,data:{confirm:'Are you sure?'},
                             :method => :delete %>
                <% end %>
              </div>
            </div>
            <div class="panel-body">
              <div id="content_comment_<%=comment.id%>">
              <%= comment.description %>
              </div>
              <a class="reply" data-toggle="collapse" href="#reply_comment_<%= comment.id %>" aria-expanded="false" aria-controls="collapseExample">
                <span id="reply_count_<%= comment.id %>">
                  <%= pluralize(comment.replies.count, "reply")%>
                </span>
                            </a>
              <div class="collapse" id="reply_comment_<%=comment.id%>">
                <div class="reply-container" >
                  <div id="replies_<%= comment.id%>">
                    <% comment.replies.each do |reply| %>
                    <div class="content">
                      <%= reply.description %> <span><%= reply.user.name %></span>
                    </div>
                    <% end %>
                  </div>
                  <% if user_signed_in? %>
                    <%= form_for [comment, comment.replies.build], remote: true do |f| %>
                                  <%= f.text_field :description , id:"input_reply_#{comment.id}",required: true, minlength:"4"%>
                      <%= f.submit "Reply" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

   <!-- form new comment -->
      <% if user_signed_in? %>
        <div class="new-comment">
          <h3>Add a comment:</h3>
          <%= form_for([@post, @post.coments.build], remote: true) do |f| %>
            <div class="field">
              <%= f.text_area :description , id:'textarea_newcomment' , required: true, minlength:"4"%>
            </div>
            <div class="actions">
              <%= f.submit "Send",class:"btn"%>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= render 'coments/comment_modal' %>
    </div>
  </div>
</div>
