<!DOCTYPE html>
<html>
<head>
  <title>SuperBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
</head>
<body>
<div class="main-header">
  <%= render 'layouts/navbar' %>
</div>

<%= render 'layouts/flash_message' %>
<%= tinymce %>
  <%= yield %>


  <footer>
    <hr>
    <span class=" copy text-right">
      2016 &copy Miguel Casas
    </span>
    <nav>
      <ul>
        <li><i class="fa fa-github"></i></li>
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
